
# ignore images
test/*
train/*
val/*
newtrain/*

seam-carve-train/*

other-data/*
compressed-data/*
data/*
processed-test/
processed-train/
processed-train2/
processed-val/
processed-val2/

# ignore h5 file
*.h5
resnet-14x14.h5

# ignore images and csv
*.csv
*.png

# ignore logs
./logs/*
./old-logs/*
*.pth

# ignore pycache
*.pyc
__pycache__*

# ignore vscode bs
*.vscode/*

# ignoring huge data set folders #
##################################

compressed-data/*
data_tutorial/*


