
# ignore images
test/*
train/*
val/*

seam-carve-train/*

other-data/*
compressed-data/*
data/*


# ignore pycache
*.pyc
__pycache__*

# ignore vscode bs
*.vscode/*

# ignoring huge data set folders #
##################################

compressed-data/*
data_tutorial/*


