# ignoring huge data set folders #
##################################
test/*
train/*
val/*
processed-test/*
processed-train/*
processed-val/*

seam-carve-train/*

other-data/*
compressed-data/*
data/*


# ignore pycacache
*.pyc

__pycache__
*.vscode/*
